*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #0c3a85;
    color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}




.menu li{
    display: inline-block;
    margin: 0 15px;
}

.menu li a {
    font-size: 24px;
    text-decoration: none;
    color: yellow;
    text-transform: uppercase;
    padding: 10px 15px;
}

.menu li a:hover {
    background-color: hsla(130, 52%, 16%, 0.502);
    border-radius: 5px;
}

.logo-imagem {

    margin: 5px ;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo-texto {
    margin: 20px;
}

.corpo {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #4287f5;
}

.conteudo{
    display: flex;
    flex-direction: column;
    flex-grow: 4.1;
    background-color: #4287f5;
    color: white;
}

.cont1{
    flex-grow: 2;
    background-color: #4287f5;
    color: yellow;
    padding-left: 25%;
}

.cont2{
    flex-grow: 4;
    background-color: #4287f5;
    padding-left: 75%;
    color: yellow;
}
